# .gitignore


# Compiled object files
*.o
*.obj

# Executables
*.exe*
*.out
*.app

run # explicitly ignoring the MD executable on linux systems
code/*/run

# Data files
*.dat

# Figures
*.pdf

# Misc. report stuff
report/*.aux
report/*.log
report/*.gz
report/*.bbl
report/*.blg
*.stackdump

# Tikz files in code
code/*.tikz

# Matlab
*.asv
